        Adjustable

    Floating Desk/Wall Mounted                         

surface top  
4 legs
credenza                       
model number FD1029                             
UPC Prefix 307951                               
Starting count 5793
Rectangle only
Wood, Composite, Glass, Metal
Optional hole drilled
Optional accessories
Box or boxes
Instructions
Fasteners 
Tools 

        Sit/Stand model
surface board
4 legs
Model Number STS9039
UPC Prefix 652842
Starting count 7648
Rectangle or L shaped
Wood, Composite, Glass, Metal
Optional hole
Optional accessories
Box or boxes
Instructions
Fasteners
Tools

        Fixed

    Computer Desk

surface board
4 legs
Drawers
Credenza
Door section
Model Number CO9014
UPC Prefix 395710
Starting count 6322
Wood, Composite, Glass or Metal
Rectangular, L Shaped or U shaped
Box or boxes
Instructions
Fasterners
Tools

    Roll Top

surface board
4 legs
Drawers
Credenza
Model Number RO3340
UPC Prefix 213542   
Staring Count 8439  
Wood, Composite, Glass or Metal
Rectangular
Box or boxes
Instructions
Fasterners
Tools

        Executive Model

surface board
4 legs
Drawers
Credenza
Model number ED43500
UPC Prefix 858332
Starting Count 4146
Wood, Composite, Glass or Metal
Rectangle, L Shaped or U Shaped
Box or boxes
Instructions
Fasterners
Tools   
